# CAR PRICE PREDICTOR

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv('quikr_car.csv')

In [3]:
cars

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

## Problems -
* change the cars name from name column it is very big 
* change the dtype of the year column
* remove the  "ask the price " str from price column
* change the dtype of price
* remove the kms
* change the dtype kms_driven 
* remove the nan values

In [5]:
cars['name'] = cars['name'].str.split(" ").str.slice(0,3).str.join(" ")

In [6]:
cars = cars[cars['year'].str.isnumeric()]

In [7]:
cars['year']= cars['year'].astype(int)

C:\Users\mukes\AppData\Local\Temp\ipykernel_9924\999509627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['year']= cars['year'].astype(int)

In [8]:
cars = cars[cars['Price']!= 'Ask For Price']

In [9]:
cars['Price']=cars['Price'].str.replace(",","")

In [10]:
cars['Price'] = cars['Price'].astype(int)

In [11]:
cars['kms_driven'] = cars['kms_driven'].str.split(" ").str.slice(0,1).str.join(" ")

In [12]:
cars['kms_driven'] = cars['kms_driven'].str.replace(",","")

In [13]:
cars = cars[cars['kms_driven'].str.isnumeric()]

In [14]:
cars['kms_driven'] = cars['kms_driven'].astype(int)

In [15]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [16]:
cars.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     1
dtype: int64

In [17]:
cars.dropna(inplace = True)

In [18]:
cars['fuel_type'].isnull().sum()

0

In [19]:
cars.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

## note :-
* hear there is an outlier in the price column which says that a car sold in 85 lac but 75% of cars price is below than 5 lac

In [20]:
cars = cars[cars['Price'] < 6e6].reset_index(drop = True)

In [21]:
cars

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [22]:
cars.to_csv("cleaned cars.csv")

###  Data analysis is done

## Model

In [23]:
x = cars[['name','company','year','kms_driven','fuel_type']]

In [24]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [25]:
y = cars['Price']

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [28]:
ohe = OneHotEncoder()

In [29]:
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [30]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder = 'passthrough')

In [31]:
lr= LinearRegression()

In [32]:
pipe = make_pipeline(column_trans,lr)

In [33]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [34]:
y_pred = pipe.predict(x_test)

In [35]:
y_pred

array([ 284577.12697535,  228284.27010598,  293608.94425832,
       2154699.00912698,  431998.4705788 ,  491403.43513501,
         76828.92317048,  587519.64035922, -166365.28515492,
       1572800.49387204,  386491.24260537,  639999.27093901,
        640870.03701785,  221860.73450512,  209263.76127943,
        546456.5272694 ,  384576.88529743,  315212.22259539,
       -225671.95514788,  100572.05831331,  902793.36349335,
        -45530.20061363,  293596.60575446,  396296.57786994,
        173321.80962005,  359805.57741127,  559446.63517891,
        441346.53956527,  573481.92652462,  300026.31631234,
        241080.5319152 ,  319714.02055649,  221486.7235835 ,
        405786.92295364,  439891.2232753 ,  359628.6263829 ,
        223778.21252758,  467361.59718724,  247043.77969938,
        599262.705768  ,  288479.13675511,  462571.23222493,
        424030.68507632,  507612.2017545 ,  375062.89304452,
        346070.50501579,  435562.92736704,  106951.8475098 ,
        438861.91456532,  568690.69099289,  226525.8550472 ,
        262040.36882707,  405722.09109148,  228284.27010598,
        444061.84570635,  559776.02113177,  622041.23819271,
        425208.55322195,  123028.11577554,  441936.2641323 ,
        738890.49440069,  413020.87694747,  291757.25472745,
        463360.43050426,  597883.14095824,  367306.7282181 ,
         82872.91304373,  622240.41499607,  209887.01307453,
        362746.87657796,  323229.52074467,  356265.85627101,
        249198.6629901 ,  571523.85491474,  469413.27346088,
        275097.97184635,  111717.70739774,  160281.01975568,
        522551.96083818,  164489.48654875,  262587.70889822,
        245838.34427766,  173726.07943921,  139239.45707991,
        199259.46761416,  541825.51853697,  158827.28669369,
        605796.59532902,  172628.27949972,  270974.14813948,
         43758.58300936,  187258.42819556, 2154990.91863527,
        373090.72239814,  208210.5938473 ,  272772.45243596,
         69619.80424529,  -20831.60131223,  431459.30321331,
         -9342.59466157,  418568.6057527 ,   39671.84989326,
       1006252.59178346,  583476.45007148,  542339.47945692,
        545054.61096907,  520673.46928534,  487889.88651334,
        394179.18766999,  467115.96348497,  345430.45468995,
        194697.72877231,  301590.94067678,  290634.03205712,
        752336.12170776,  295041.22945289,  412644.55927192,
         86407.41840878,  422035.16065061,  435508.34939943,
         55184.19712703,   80958.64000338,  286328.5840251 ,
        256749.51873236,  294574.04661287,   40815.48462687,
        318131.31767831,  340623.73203284,  226547.93520812,
        524303.41788794,  284915.44976419,  392989.36494823,
        755965.53178128,  259990.72527593,   75898.67611025,
        162991.57471721,  414036.72747802,  221121.59922853,
        205907.35901017,  238329.92991839,  359810.71354744,
        300126.32076079,  506481.50099921,  439026.22499467,
       1541052.01642132,  813819.722941  ,  395269.9452033 ,
        732798.24206463, 1738034.69217587,   58643.6740871 ,
        464837.22367494,  637924.68306682,  536671.78798167,
        459755.02341171,  239300.21445891,  531581.55707866,
       2154990.91863527,  448406.094395  ,  279900.45600931,
        539882.79217801,  395506.8131505 ,  160715.18222811,
        648095.44134914])

In [36]:
r2_score(y_test,y_pred)

0.7560382345630083

In [37]:
scores = []
for i in range(1000):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [38]:
np.argmax(scores)

433

In [39]:
scores[np.argmax(scores)]

0.8456924684678089

In [40]:
import pickle

In [41]:
pickle.dump(pipe,open("Linear Regression Model.pkl","wb"))

In [42]:
pipe.predict(pd.DataFrame([['Mahindra Jeep CL550','Mahindra',2006,40,'Diesel']] , columns = ['name','company','year','kms_driven','fuel_type']))

array([191952.21677532])